<div class="grid">
  <p class='"red-text' *ngIf="errorMessage">{{ errorMessage }}</p>
  <a class="btn-large grey darken-1" (click)='get()'>GET</a>
  <a class="btn-large grey darken-1" (click)='post()'>POST</a>
  <a class="btn-large grey darken-1" (click)='put()'>PUT</a>
  <a class="btn-large grey darken-1" (click)='patch()'>PATCH</a>
  <a class="btn-large grey darken-1" (click)='delete()'>DELETE</a>
  <a class="btn-large grey darken-1" (click)='error()'>ERROR</a>
  <a class="btn-large grey darken-1" (click)='headers()'>HEADERS</a>
  <a class="btn-large grey darken-1" (click)='params()'>PARAMS</a>
</div>
